body {
  font-family: 'Cabin Sketch', cursive;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.main-wrapper {
  display: flex;
  width: 100%;
}

:focus {
	outline: 5px solid green;
}

/*--- Listview ---*/

.listview {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 25%;
  background-color: #484848;
  margin: 0;
  height: 100vh;
  overflow: auto;
}

.listview .closebtn {
  display: none;
  width: 20%;
  justify-content: flex-end;
  justify-self: end;
  font-size: 3em;
  padding: 5px;
  margin: 0 10px 0 auto;
  color: white;
  cursor: pointer;
}

.listview-content {
  width: 100%;
}

.listview-content h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
}

ul.list-locations {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listview-location-name {
  text-align: left;
  margin-left: 10px;
  color: white;
  background: none;
  border: none;
  padding: 10px;
  font: inherit;
  font-size: 1.2em;
  cursor: pointer;
  outline: inherit;
}

.listview-location-name:hover {
  color: #ff3333;
}

.listview-location-name:focus {
	outline: 5px solid green;
}

.foursquare-attr {
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  overflow: hidden;
}

.foursquare-attr img {
  color: white;
  width: 70%;
}

/*---- Search Bar ---*/

.search-wrapper {
  display: flex;
  justify-content: center;
}

.search-wrapper input[type="search"] {
  width: 90%;
  font-size: 1em;
  padding: 10px;
}

/*--- MAP ---*/

.map-container {
  display: flex;
  width: 75%;
  height: 100vh;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 0;
}

.map-content {
  width: 100%;
  height: 100%;
}

.map-content:focus {
	outline: 5px solid green;
}

.openbtn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 1;
  background-color: #484848;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.openMobMenu {
  width: 25% !important;
}

.closeMobMenu {
  width: 25% !important;
}

.marker {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 90% 70% 90% 0;
  border: 2px solid black;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.marker-wrap>*:hover {
  border: 1px solid black;
}

.redMarker {
  background-color: #ff3333;
}

.blueMarker {
  background-color: blue;
}
/*--- InfoWindow ---*/

.info-window {
  position: relative;
  top: -270px;
  left: -105px;
  width: 200px;
  height: 230px;
  z-index: 1000;
  background-color: rgba(255,255,224);
}

.info-window:after {
  content:'';
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: solid 50px rgba(255,255,224);
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
  z-index: -1000;
}

.info-window-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-window-content h1 {
  flex-basis: 80%;
  text-align: center;
  font-size: 1.2em;
  margin: 15px 0 5px;
  padding: 0;
}

.info-window-content span {
  cursor: pointer;
  flex-basis: 5%;
  font-size: 2em;
  padding: 1px;
  height: 50px;
}

.info-window-content p {
  text-align: center;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.location-img {
  width: 125px;
  height: 125px;
  background-size: 100% 100%;
  margin-bottom: 5px;
}

/*--- Error message if API does not load ---*/

.error {
  width: 100%;
  color: red;
  font-size: 1.5em;
  padding: 5px;
}

/*--- Media Queries --*/

@media screen and (max-width: 949px) {

  .listview h1 {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .listview {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 699px) {

  .App {
    transition: margin-left .5s;
  }

  .listview {
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-size: 0.9em;
  }

  .openbtn {
    cursor: pointer;
    display: flex;
    width: 15%;
    justify-content: center;
  }

  .listview .closebtn {
    display: flex;
  }

  .map-container {
    width: 100%;
  }

  .openMobMenu {
    width: 250px !important;
  }

  .closeMobMenu {
    width: 0px !important;
  }

  .info-window {
    position: fixed;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 250px;
    z-index: 1000;
    background-color: rgba(255,255,224);
  }

  .info-window:after {
    display: none;
  }
}

@media screen and (max-width: 249px) {

  .openMobMenu {
    width: 90% !important;
  }

}
