/*--- MAP ---*/

.map-container {
  display: flex;
  justify-content: flex-end;
}

.marker {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 90% 70% 90% 0;
  border: 2px solid black;
  background: red;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

/*--- InfoWindow ---*/

.info-window {
  cursor: pointer;
  position: relative;
  top: -100px;
  left: -35px;
  width: 400px;
  height: 600px;
  border: 2px solid black;
  transform: rotate(45deg);
  z-index: 1000;
}

.location-img {
  width: 300px;
  height: 500px;
  background-size: cover;

}
