/*--- MAP ---*/

.map-container {
  display: flex;
  justify-content: flex-end;
}

.marker {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 50% 0;
  border: 2px solid black;
  background: red;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

/*--- InfoWindow ---*/

.info-window {
  cursor: pointer;
  position: relative;
  top: -100px;
  left: -35px;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  transform: rotate(45deg);
}
